// general
// $primary: #5c34a2;
// $secondary: #87e1a9;
// $tertiary: #bf9cff;
$primary: #00435d;
$secondary: #28a745;
$tertiary: #17a2b8;
$additional-font: #fff;
$btn-line-color: $primary; // button border and font color && hover bg color